.body {
   background-color: #00fef698;
   font-family: 'Roboto', sans-serif;
}
.czasWolny { 
    color: rgb(62, 0, 54);
}
.zainteresowania {
    color: brown;
}
.praca{
    color: indigo;
}
.bike{
    color: blue;
}
.di {
    color: blueviolet;
}
.rocket{
    min-width: 360px;
    margin: 30px auto;
    text-align: center;
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 800px;

}
.tabelHead{
    background-color: #de6d0b;
}
.tabelRow {
}
.normalPhoneXD{
    background-color: #eee;
}
.phone{
    border: 3px solid #000;
    height: 70px;
}
.listText{
    font-size: 30px;
}
.unorderListText{
    font-size: 22px;
}
.button{
    display: flex;
    width: 300px;
    height: 120px;
    box-sizing: border-box;
    background-color: aqua;
    font-size: 30px;
    font-weight: bold;
    border: 5px solid  #de6e0b;
    text-align: center;
    margin: 70px auto;
    padding: 20px;
}
.header{
    min-width: 360px;
    width: auto;
    min-height: 90px;
    background-color: #de6d0b;
    color: #fff;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid #000;
    margin-bottom: 10px;
}
.nav{
    min-width: 360px;
    width: auto;
    height: 90px;
    background-color: #de6d0b;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid #000;
}
.tableNav{
    font-size: larger;
    margin: 3px 2% 0px 10%;
    padding: 20px 0px;
    width: 25%;
    height: 90%;
    background-color: #00fef6;
    color: #000;
    box-sizing: border-box;
    float: left;
    border-radius: 15px;
    border: 3px solid #000;
}
.listNav{
    font-size: larger;
    margin: 3px 0px 0px 0px;
    padding: 20px 0px;
    width: 25%;
    height: 90%;
    background-color: #00fef6;
    color: #000;
    box-sizing: border-box;
    float: left;
    border-radius: 15px;
    border: 3px solid #000;
}
.meNav{
    font-size: larger;
    margin: 3px 10% 0px 2%;
    padding: 20px 0px;
    width: 25%;
    height: 90%;
    background-color: #00fef6;
    color: #000;
    box-sizing: border-box;
    float: left;
    border-radius: 15px;
    border: 3px solid #000;
}
.link{
    width: 100%;
    height: auto;
}